@model List<EmployeePerformance>

@{
    ViewData["Title"] = "List";
}

 <main id="main" class="main">

    <div class="pagetitle">
      <h1>Performance Review</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item">Tables</li>
          <li class="breadcrumb-item active">Data</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
            </br>  
              <!-- Table with stripped rows -->
              <table class="table datatable">
                <thead>
                  <tr>
                    <th scope="col">No</th>
                    <th scope="col">Employe Name</th>
                    <th scope="col">Subject / Topic</th>
                    <th scope="col">Status</th>
                    <th></th>
               
                  </tr>
                </thead>
                <tbody>
                 @{int i= 0;}
                 @foreach (var item in Model) {
                        <tr>
                            <td>
                                @(++i)
                            </td>
                             <td>
                                @Html.DisplayFor(modelItem => item.userID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.About)
                            </td>
                        @if(@item.Status==true)
                        {
                            <td><span class="badge bg-success">Unread</span></td>
                             <td>
                                <a class="btn btn-success" role="button" asp-action="Details" asp-route-No="@item.No">Mark as Read</a>
                            </td>
                            
                        }
                        else{
                            <td><span class="badge bg-primary">Read</span></td>
                             <td>
                                <a class="btn btn-primary" role="button" asp-action="Details" asp-route-No="@item.No">View Message</a>
                            </td>
                        }
                           
                         
                        </tr>
                }
                </tbody>
              </table>
              <!-- End Table with stripped rows -->

            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->



