@model HRMS.Models.PagIbig

@{
    ViewData["Title"] = "Details";
}
<main id="main" class="main">
    <section class="section">
        <h1>Details</h1>

        <div>
            <h4>PagIbig</h4>
            <hr />
            <dl class="row">
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.Employee)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.Employee.FirstName)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.PagIbigId)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.PagIbigId)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.StartDate)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.StartDate)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.Status)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.Status)
                </dd>
            </dl>
        </div>
        <div>
            <a asp-action="Update" asp-route-PagIbigId="@Model?.PagIbigId">Edit</a> |
            <a asp-action="List">Back to List</a>
        </div>
    </section>
</main>